<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.4.1/css/all.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>腾讯云物联网MQTT配置生成工具</title>
</head>

<body>
  <div class="grid-2" id="app">
    <div class="section-1">
      <i class="fab fa-github fa-5x white"></i>
      <h2>腾讯云物联网<br>MQTT配置生成工具</h2>
    </div>
    <div class="section-2">
      <div v-for="input in data.inputs">
        <h2>{{input.label}}</h2>
        <input type="text" v-model="data[input.name]" :placeholder="input.placeholder"><br>
      </div>
      <button @click="submit">确定</button>
      <h2>MQTT Host & Port:</h2>
      <p>{{data.result.host}}</p>
      <h2>MQTT Client Id:</h2>
      <p>{{data.result.clientId}}</p>
      <h2>MQTT Username:</h2>
      <p>{{data.result.userName}}</p>
      <h2>MQTT Password:</h2>
      <p>{{data.result.password}}</p>
    </div>

  </div>
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    import cryptoJs from 'https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/+esm'

    createApp({
      data() {
        return {
          data: {
            productId: '',
            deviceName: '',
            deviceSecret: '',
            inputs: [
              {
                label: "产品ID",
                name: "productId",
                placeholder: "请输入"
              },
              {
                label: "设备名称",
                name: "deviceName",
                placeholder: "请输入"
              },
              {
                label: "设备密钥",
                name: "deviceSecret",
                placeholder: "请输入"
              },
            ],
            result: {}
          }
        }
      },
      methods: {
        submit() {
          if (!this.data.productId || !this.data.deviceName || !this.data.deviceSecret) {
            alert("请输入完整信息")
            return
          }
          this.data.result = this.mqttConfig(this.data.productId, this.data.deviceName, this.data.deviceSecret)
        },
        // 生成接入物联网通信平台需要的各参数
        mqttConfig(productId, deviceName, devicePsk) {
          // 产生随机数的函数
          const randomString = (len) => {
            len = len || 32;
            var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            var maxPos = chars.length;
            var pwd = '';
            for (let i = 0; i < len; i++) {
              pwd += chars.charAt(Math.floor(Math.random() * maxPos));
            }
            return pwd;
          }

          // 1. 生成 connid 为一个随机字符串，方便后台定位问题
          const connid = randomString(5);
          // 2. 生成过期时间，表示签名的过期时间,从纪元1970年1月1日 00:00:00 UTC 时间至今秒数的 UTF8 字符串
          const expiry = Math.round(new Date().getTime() / 1000) + 3600 * 24;
          // 3. 生成 MQTT 的 clientid 部分, 格式为 ${productid}${devicename}
          const clientId = productId + deviceName;
          // 4. 生成 MQTT 的 username 部分, 格式为 ${clientid};${sdkappid};${connid};${expiry}
          const userName = `${clientId};12010126;${connid};${expiry}`;
          //5.  对 username 进行签名，生成token、根据物联网通信平台规则生成 password 字段
          const rawKey = cryptoJs.enc.Base64.parse(devicePsk);   	// 对设备密钥进行base64解码
          const token = cryptoJs.HmacSHA256(userName, rawKey);
          const password = token.toString(cryptoJs.enc.Hex) + ";hmacsha256";
          const result = {
            "clientId": clientId,
            "userName": userName,
            "password": password,
            "host": `${productId}.iotcloud.tencentdevices.com:1883`
          }
          console.log(`userName:${userName}\npassword:${password}`);
          return result;

        }
      }
    }).mount('#app')
  </script>
</body>

</html>